﻿@model Selu.ProjectManager.Web.Areas.Admin.Models.User.CreateUserForm

@{
    ViewBag.Title = "Create User";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="control-group">
            @Html.LabelFor(model => model.Name)
            <div class="controls">
                @Html.TextBoxFor(model => model.Name, new { autofocus="autofocus" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Email)
            <div class="controls">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Password)
            <div class="controls">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.ConfirmPassword)
            <div class="controls">
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Role)
            <div class="controls">
                @Html.DropDownListFor(x => x.Role, Model.RoleSelectList, "Select a role")
                @Html.ValidationMessageFor(model => model.Role)
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Create" /> |
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
        </div>
    </fieldset>
}