﻿@model Selu.ProjectManager.Web.Areas.Admin.Models.User.EditUserForm

@{
    ViewBag.Title = Model.Name + " - Edit User";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="control-group">
            <div class="controls">
                @Html.HiddenFor(model => model.Id)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Name)
            <div class="controls">
                @Html.TextBoxFor(model => model.Name, new { autofocus="autofocus" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Email)
            <div class="controls">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Role)
            <div class="controls">
                @Html.DropDownListFor(x => x.Role, Model.RoleSelectList, "Select a role")
                @Html.ValidationMessageFor(model => model.Role)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.IsActive)
            <div class="controls">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Submit" /> |
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
        </div>
    </fieldset>
    
}