﻿@using Selu.ProjectManager.Common.Extentions
@model IEnumerable<Selu.ProjectManager.Models.User>

@{
    ViewBag.Title = "Manage Users";
}

<script type="text/javascript">
	$(document).ready(function () {
		InitializeDatatable($("#userTable"));
	});
</script>

<div class="page-header">
    <h2>
		Manage Users
		@Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })
	</h2>
</div>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="userTable">
	<thead>
		<tr>
			<th>
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Role
            </th>
            <th>
                Created
            </th>
            <th>
                Updated
            </th>
            <th>
                Is Active?
            </th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Reset Password", "ResetPassword", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) 
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Role
                </td>
                <td>
                    @String.Format("{0:g}", item.CreatedDateUtc.ToUniversalTime())
                </td>
                <td>
                    @String.Format("{0:g}", item.UpdatedDateUtc.ToUniversalTime())
                </td>
                <td>
                    @item.IsActive.ConvertToYesNo()
                </td>
            </tr>
        }
	</tbody>
</table>