﻿@model Selu.ProjectManager.Web.Areas.Admin.Models.User.ResetPasswordForm

@{
    ViewBag.Title = Model.Name + " - Reset Password";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="control-group">
            @Html.LabelFor(model => model.Name)
            <div class="controls">
                @Html.DisplayFor(model => model.Name)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Email)
            <div class="controls">
                @Html.DisplayFor(model => model.Email)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.NewPassword)
            <div class="controls">
                @Html.EditorFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Reset" /> | 
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
        </div>
    </fieldset>
}