﻿@model Selu.ProjectManager.Models.ProjectPermission

@{
    ViewBag.Title = Model.User.Name + " - Delete Permission";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

<h3>Are you sure you want to delete this permission?</h3>

@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Delete" /> |
				@Html.ActionLink("Back to List", "Index", new { id = Model.ProjectId }, new { @class = "btn" })
            </div>
        </fieldset>
    </div>
}