﻿@model Selu.ProjectManager.Web.Forms.ProjectPermission.ProjectPermissionForm

@{
    ViewBag.Title = Model.Project.Name + " - Edit Permission";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.ProjectId)
        <div class="control-group">
            @Html.LabelFor(model => model.UserId)
            <div class="controls">
                @Html.DropDownListFor(model => model.UserId, Model.UserSelectList, "Select a user")
                @Html.ValidationMessageFor(model => model.UserId)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Permission)
            <div class="controls">
                @Html.DropDownListFor(model => model.Permission, Model.PermissionSelectList, " Select a permission")
                @Html.ValidationMessageFor(model => model.Permission)
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Save" /> |
			@Html.ActionLink("Back to List", "Index", new { id = Model.ProjectId }, new { @class = "btn" })
        </div>
    </fieldset>
}