﻿@model Selu.ProjectManager.Models.Project

@{
    ViewBag.Title = Model.Name + " - Permissions";
}

<script type="text/javascript">
	$(document).ready(function () {
		InitializeDatatable($("#permissionsTable"));
	});
</script>

<div class="page-header">
    <h2>
		@ViewBag.Title
		@Html.ActionLink("Create", "Create", new { id = Model.Id }, new { @class = "btn btn-primary" })
	</h2>
</div>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="permissionsTable">
	<thead>
		<tr>
			<th style="width: 30%"></th>
			<th>User</th>
			<th>Permission</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Permissions.Where(x=> !x.IsDeleted))
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
                <td>
                    @item.User.Name
                </td>
                <td>
                    @item.Permission
                </td>
            </tr>
        }
	</tbody>
</table>

<hr />

@Html.ActionLink("Back to Projects", "Index", "Project", null, new { @class = "btn" })