﻿@model Selu.ProjectManager.Web.Areas.Admin.Models.IssuePriority.CreateIssuePriorityForm

@{
    ViewBag.Title = "Create Issue Priority";
}

<div class="page-header">
	<h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm()) 
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="control-group">
            @Html.LabelFor(model => model.Name)
			<div class="controls">
				@Html.TextBoxFor(model => model.Name, new { autofocus="autofocus" })
				@Html.ValidationMessageFor(model => model.Name)
			</div>
		</div>

		<div class="form-actions">
			<input type="submit" class="btn btn-primary" value="Create" /> |
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
		</div>
    </fieldset>
}