﻿@using Selu.ProjectManager.Common.Extentions
@model IEnumerable<Selu.ProjectManager.Models.IssuePriority>

@{
    ViewBag.Title = "Issue Priorities";
}

<script type="text/javascript">
	$(document).ready(function () {
		InitializeDatatable($("#issuePriorityTable"));
	});
</script>

<div class="page-header">
    <h2>
		@ViewBag.Title
		@Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })
	</h2>
</div>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="issuePriorityTable">
	<thead>
		<tr>
			<th></th>

			<th>
				Name
			</th>

			<th>
				Create Date
			</th>

			<th>
				Update Date
			</th>

			<th>
				Is Active?
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model) {
	        <tr>
		        <td>
			        @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
			        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
		        </td>

		        <td>
			        @item.Name
		        </td>

		        <td>
			        @String.Format("{0:g}", item.CreatedDateUtc.ToLocalTime())
		        </td>

		        <td>
			        @String.Format("{0:g}", item.UpdatedDateUtc.ToLocalTime())
		        </td>

		        <td>
			        @item.IsActive.ConvertToYesNo()
		        </td>
            </tr>
        }
	</tbody>
</table>