﻿@model Selu.ProjectManager.Models.TimeUnitType

@{
    ViewBag.Title = Model.Name + " - Delete Time Unit";
}
<div class="page-header">
	<h2>@ViewBag.Title</h2>
</div>

<h3>Are you sure you want to delete this time unit?</h3>

@using (Html.BeginForm()) 
{
	<div>
		<fieldset>
			<div class="form-actions">
				<input type="submit" class="btn btn-primary" value="Delete" /> | 
				@Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
			</div>
		</fieldset>
	</div>
}