﻿@model Selu.ProjectManager.Web.Forms.Authentication.LoginForm
@{
    ViewBag.Title = "Login";
}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@Html.ValidationSummary(true)
@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <div class="control-group">
                @Html.LabelFor(m => m.Email)
                <div class="controls">
                    @Html.TextBoxFor(m => m.Email, new { @class = "span4", autofocus="autofocus" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Password)
                <div class="controls">
                    @Html.PasswordFor(m => m.Password, new { @class = "span4" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    Login</button>
            </div>
        </fieldset>
    </div>
}