﻿@using Selu.ProjectManager.Common.Extentions
@model Selu.ProjectManager.Models.Issue

@{
    ViewBag.Title = Model.Name + " - Issue Details";
}

<div class="page-header">
	<h2>@ViewBag.Title</h2>
</div>

	<fieldset>
        <div class="row">
            <div class="span2">@Html.LabelFor(model => model.Name)</div>
            <div class="span10">@Html.DisplayFor(model => model.Name)</div>
        </div>

        <div class="row">
            <div class="span2"><label>Issue Type</label></div>
            <div class="span10">@Html.DisplayFor(model => model.IssueType.Name)</div>
        </div>

		<div class="row">
            <div class="span2"><label>Status</label></div>
            <div class="span10">@Html.DisplayFor(model => model.IssueStatus.Name)</div>
        </div>

		<div class="row">
            <div class="span2"><label>Priority</label></div>
            <div class="span10">@Html.DisplayFor(model => model.IssuePriority.Name)</div>
        </div>

        <div class="row">
            <div class="span2">@Html.LabelFor(model => model.Description)</div>
            <div class="span10">@Html.DisplayFor(model => model.Description)</div>
        </div>

		<div class="row">
            <div class="span2"><label>Assigned To</label></div>
            <div class="span10">@Html.DisplayFor(model => model.AssignedToUser.Name)</div>
        </div>

        <div class="row">
            <div class="span2">@Html.LabelFor(model => model.Project)</div>
            <div class="span10">@Html.DisplayFor(model => model.Project.Name)</div>
        </div>

        <div class="row">
            <div class="span2"><label>Deadline Date</label></div>
            <div class="span10">@Model.DeadlineDate.ToLocalTime().ToShortDateString()</div>
        </div>

        <div class="row">
            <div class="span2"><label>Create Date</label></div>
            <div class="span10">@Model.CreatedDateUtc.ToLocalTime()</div>
        </div>

        <div class="row">
            <div class="span2"><label>Update Date</label></div>
            <div class="span10">@Model.UpdatedDateUtc.ToLocalTime()</div>
        </div>

        <div class="row">
            <div class="span2"><label>Estimated Time</label></div>
            <div class="span10">@Model.EstimatedTime @Model.EstimatedTimeUnitType.Name</div>
        </div>

        <div class="row">
            <div class="span2"><label>Is Active?</label></div>
            <div class="span10">@Model.IsActive.ConvertToYesNo()</div>
        </div>
	</fieldset>

	<div class="form-actions">
		@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
		@Html.ActionLink("Back to List", "Index", new { id = Model.ProjectId }, new { @class = "btn" })
	</div>
</div>


