﻿@model Selu.ProjectManager.Web.Forms.Issue.EditIssueForm

@{
    ViewBag.Title = Model.Name + " - Edit Issue";
}

<script type="text/javascript">
    $(function () {
        $("#DeadlineDate").datepicker();
    });
</script>

<div class="page-header">
	<h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)
		<fieldset>
			<div class="control-group">
				<div class="controls">
					@Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.ProjectId)
				</div>
			</div>

			<div class="control-group">
				@Html.LabelFor(model => model.Name)
				<div class="controls">
					@Html.TextBoxFor(model => model.Name, new { autofocus="autofocus" })
					@Html.ValidationMessageFor(model => model.Name)
				</div>
			</div>

            <div class="control-group">
                @Html.LabelFor(model => model.IssueTypeId)
			    <div class="controls">
				    @Html.DropDownListFor(model => model.IssueTypeId, new SelectList(Model.IssueTypes, "Id", "Name"))
				    @Html.ValidationMessageFor(model => model.IssueTypeId)
			    </div>
		    </div>

			<div class="control-group">
				@Html.LabelFor(model => model.IssueStatusId)
				<div class="controls">
					@Html.DropDownListFor(model => model.IssueStatusId, new SelectList(Model.IssueStatuses, "Id", "Name"))
					@Html.ValidationMessageFor(model => model.IssueStatusId)
				</div>
			</div>

			<div class="control-group">
				@Html.LabelFor(model => model.Description)
				<div class="controls">
					@Html.TextAreaFor(model => model.Description, 10, 10, null)
					@Html.ValidationMessageFor(model => model.Description)
				</div>
			</div>

			<div class="control-group">
				@Html.LabelFor(model => model.AssignedToUserId)
				<div class="controls">
					@Html.DropDownListFor(model => model.AssignedToUserId, new SelectList(Model.Users, "Id", "Name"))
					@Html.ValidationMessageFor(model => model.AssignedToUserId)
				</div>
			</div>

            <div class="control-group">
                @Html.LabelFor(model => model.IssuePriorityId)
			    <div class="controls">
				    @Html.DropDownListFor(model => model.IssuePriorityId, new SelectList(Model.IssuePriorities, "Id", "Name"))
				    @Html.ValidationMessageFor(model => model.IssuePriorityId)
			    </div>
		    </div>

			<div class="control-group">
				@Html.LabelFor(model => model.DeadlineDate)
				<div class="controls">
					@Html.TextBoxFor(model => model.DeadlineDate, new { Value = Model.DeadlineDate.ToShortDateString() })
					@Html.ValidationMessageFor(model => model.DeadlineDate)
				</div>
			</div>

            <div class="control-group">
                <label>Estimated Time</label>
			    <div class="controls">
                    @Html.TextBoxFor(model => model.EstimatedTime)
				    @Html.DropDownListFor(model => model.EstimatedTimeUnitTypeId, new SelectList(Model.TimeUnitTypes, "Id", "Name"))
				    @Html.ValidationMessageFor(model => model.EstimatedTime)
			    </div>
		    </div>
	    <div class="form-actions">
			<input type="submit" class="btn btn-primary" value="Submit" /> |
			@Html.ActionLink("Back to List", "Index", new { id = Model.ProjectId }, new { @class = "btn" })
	    </div>
	</fieldset>
}