﻿@using Selu.ProjectManager.Common.Extentions
@model Selu.ProjectManager.Models.Project

@{
    ViewBag.Title = Model.Name + " - Project Issues";
}

<script type="text/javascript">
	$(document).ready(function () {
		InitializeDatatable($("#issueTable"));
	});
</script>

<div class="page-header">
	<h2>
		@ViewBag.Title
		@Html.ActionLink("Create", "Create", new { id = Model.Id }, new { @class = "btn btn-primary" })
	</h2>
</div>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="issueTable">
	<thead>
		<tr>
			<th></th>
            <th>Name</th>
            <th>Type</th>
			<th>Status</th>
			<th>Assigned To</th>
            <th>Priority</th>
            <th>Deadline</th>
            <th>Time Estimated</th>
            <th>Time Worked</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Issues.Where(x => !x.IsDeleted).OrderByDescending(x => x.DeadlineDate))
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Work Logs", "Index", "WorkLog", new { id = item.Id }, null)
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.IssueType.Name
                </td>
				<td>
                    @item.IssueStatus.Name
                </td>
				<td>
                    @item.AssignedToUser.Name
                </td>
                <td>
                    @item.IssuePriority.Name
                </td>
                <td>
                    @String.Format("{0:g}", item.DeadlineDate.ToLocalTime().ToShortDateString())
                </td>
                <td>
                    @String.Format("{0:F}", item.EstimatedTime) @item.EstimatedTimeUnitType.Name
                </td>
                <td>
                    @String.Format("{0:F}", item.WorkLogs.Where(x => !x.IsDeleted).Sum(x => x.HoursWorked)) Hours
                </td>
            </tr>
        }
	</tbody>
	<tfoot>
		<tr>
			<th></th>
			<th></th>
			<th class="filter-me"></th>
			<th class="filter-me"></th>
			<th class="filter-me"></th>
			<th class="filter-me"></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</tfoot>
</table>

<hr />

<div>
    @Html.ActionLink("Back to Projects", "Index", "Project", null, new { @class = "btn" })
</div>