﻿@using Selu.ProjectManager.Common.Extentions
@model IEnumerable<Selu.ProjectManager.Models.User>

@{
    ViewBag.Title = "Access Logs";
}

<script type="text/javascript">
    $(document).ready(function () {
        InitializeDatatable($("#accessLogTable"), 0, 'asc');
    });
</script>

<div class="page-header">
    <h2>
		@ViewBag.Title
	</h2>
</div>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="accessLogTable">
	<thead>
		<tr>
			<th>
				Name
			</th>

			<th>
				Accesses
			</th>

			<th>
				Last Access Date
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model) {
            var lastLogin = string.Empty;
            var createDate = item.AccessLogs.OrderByDescending(x => x.CreatedDateUtc).FirstOrDefault();
            lastLogin = createDate.IsNull() ? "Never" : String.Format("{0:g}", createDate.CreatedDateUtc.ToLocalTime());
	        <tr>
		        <td>
			        @item.Name
		        </td>

		        <td>
			        @item.AccessLogs.Count
		        </td>

		        <td>
			        @lastLogin
		        </td>
            </tr>
        }
	</tbody>
</table>