﻿@model Selu.ProjectManager.Models.IssueStatus

@{
    ViewBag.Title = Model.Name + " - Delete Issue Status";

}
<div class="page-header">
	<h2>@ViewBag.Title</h2>
</div>

<h3>Are you sure you want to delete this issue status?</h3>

@using (Html.BeginForm()) 
{
	<div>
		<fieldset>
			<div class="form-actions">
				<input type="submit" class="btn btn-primary" value="Delete" /> |
				@Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
			</div>
		</fieldset>
	</div>
}