﻿@model Selu.ProjectManager.Web.Forms.Project.EditProjectForm
@{
    ViewBag.Title = Model.Name + " - Edit";
}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="control-group">
            <div class="controls">
                @Html.HiddenFor(model => model.Id)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Name)
            <div class="controls">
                @Html.TextBoxFor(model => model.Name, new { autofocus="autofocus" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Submit" /> |
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
        </div>
    </fieldset>
}