﻿@model IEnumerable<Selu.ProjectManager.Web.ViewModels.Project.ProjectIndex>

@{
    ViewBag.Title = "Projects";
}

<script type="text/javascript">
	$(document).ready(function () {
		InitializeDatatable($("#projectTable"));
	});
</script>

<div class="page-header">
    <h2>
		@ViewBag.Title
        @if(User.IsInRole("Admin"))
        {
            @Html.ActionLink("Create", "Create", null, new {@class = "btn btn-primary"})
        }
	</h2>
</div>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="projectTable">
	<thead>
		<tr>
			<th style="width: 30%"></th>
			<th>Name</th>
			<th>Time Worked</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.CanEdit)
                    {
                        <text>                   
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                            @Html.ActionLink("Permissions", "Index", "ProjectPermission", new { id = item.Id }, null) |
                        </text>
                    }
                    @Html.ActionLink("Issues", "Index", "Issue", new { id = item.Id }, null)
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @String.Format("{0:F}", item.HoursWorked)
                    Hours
                </td>
            </tr>
        }
	</tbody>
</table>