﻿@model Selu.ProjectManager.Models.WorkLog

@{
    ViewBag.Title = "Delete Work Log";
}

<div class="page-header">
	<h2>@ViewBag.Title</h2>
</div>

<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm()) 
{
    <div>
	    <fieldset>
	        <div class="form-actions">
		        <input type="submit" class="btn btn-primary" value="Delete" /> | 
				@Html.ActionLink("Back to List", "Index", new { id = Model.IssueId }, new { @class = "btn" })
	        </div>
	    </fieldset>
    </div>
}