﻿@model Selu.ProjectManager.Web.Forms.WorkLog.EditWorkLogForm

@{
    ViewBag.Title = "Edit Work Log";
}

<script type="text/javascript">
    $(function () {
        $("#DateWorked").datepicker();
    });
</script>

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.IssueId)

    <fieldset>
        @if(User.IsInRole("Admin"))
        {
            <div class="control-group">
                @Html.LabelFor(model => model.UserId)
                <div class="controls">
                    @Html.DropDownListFor(model => model.UserId, new SelectList(Model.Users, "Id", "Name"))
                    @Html.ValidationMessageFor(model => model.UserId)
                </div>
            </div>
        }

        <div class="control-group">
            @Html.LabelFor(model => model.HoursWorked)
            <div class="controls">
                @Html.TextBoxFor(model => model.HoursWorked, new { autofocus="autofocus" })
                @Html.ValidationMessageFor(model => model.HoursWorked)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.DateWorked)
            <div class="controls">
                @Html.TextBoxFor(model => model.DateWorked, new { Value = DateTime.Now.ToShortDateString() })
                @Html.ValidationMessageFor(model => model.DateWorked)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Description)
            <div class="controls">
                @Html.TextAreaFor(model => model.Description, 10, 10, null)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Submit" /> | 
            @Html.ActionLink("Back to List", "Index", new { id = Model.IssueId }, new { @class = "btn" })
        </div>
    </fieldset>
}