﻿@model Selu.ProjectManager.Models.Issue

@{
    ViewBag.Title = Model.Name + " - Work Logs";
}

<script type="text/javascript">
	$(document).ready(function () {
		InitializeDatatable($("#workLogTable"));
	});
</script>

<div class="page-header">
	<h2>
		@ViewBag.Title
		@Html.ActionLink("Create", "Create", new { id = Model.Id }, new { @class = "btn btn-primary" })
	</h2>
</div>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="workLogTable">
	<thead>
		<tr>
			<th></th>
            <th>User</th>
            <th>Description</th>
			<th>Date Worked</th>
            <th>Hours Worked</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.WorkLogs.Where(x=> !x.IsDeleted).OrderByDescending(x => x.DateWorked)) {
		    <tr>
			    <td>
                    @if (User.Identity.Name.Equals(item.User.Email) || User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @:|
                    }
				    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
			    </td>

			    <td>
				    @item.User.Name
			    </td>

                <td>
				    @item.Description
			    </td>

			    <td>
				    @String.Format("{0:g}", item.DateWorked.ToLocalTime().ToShortDateString())
			    </td>

			    <td>
				    @String.Format("{0:F}", item.HoursWorked) Hours
			    </td>
			</tr>
        }
	</tbody>
</table>

<hr />

<div>
    @Html.ActionLink("Back to Issues", "Index", "Issue", new { id = Model.ProjectId }, new { @class = "btn" })
</div>