<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - SELU Project Manager</title>

        <meta name="viewport" content="width=device-width, user-scalable=no" />

        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Css")" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
        @MvcMiniProfiler.MiniProfiler.RenderIncludes()
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                    }
                        
                    @Html.ActionLink("SELU Project Manager", "Index", "Project", new { area = "" }, new { @class = "brand"})
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li>@Html.ActionLink("Projects", "Index", "Project", new {area = ""}, null)</li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li class="dropdown" id="adminMenu">
                                        <a href="#adminMenu" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Manage Users", "Index", "User", new { area = "admin" }, null)</li>
                                            <li>@Html.ActionLink("View Access Logs", "Index", "AccessLog", new { area = "admin" }, null)</li>
                                            <li>@Html.ActionLink("Manage Issue Types", "Index", "IssueType", new { area = "admin" }, null)</li>
                                            <li>@Html.ActionLink("Manage Issue Priorities", "Index", "IssuePriority", new { area = "admin" }, null)</li>
                                            <li>@Html.ActionLink("Manage Issue Statuses", "Index", "IssueStatus", new { area = "admin" }, null)</li>
                                            <li>@Html.ActionLink("Manage Time Unit Types", "Index", "TimeUnitType", new { area = "admin" }, null)</li>
                                        </ul>
                                    </li>
                                }
                            </ul>
                            <p class="navbar-text pull-right">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @:Logged in as @User.Identity.Name [ @Html.ActionLink("Logout", "Logout", "Authentication", new {area = ""}, null) ]
                                }
                                else
                                {
                                    @:[ @Html.ActionLink("Login", "Login", "Authentication", new {area = ""}, null) ]
                                }
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="container">
            @RenderBody()
        </div>
        <footer>
        </footer>
        <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Js")"></script>
        <script>
            $(function() {
                $(".dropdown-toggle").dropdown();
            });
        </script>
</body>
</html>
